@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@700&display=swap');

.nav_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  background-color: #CBF3F0;

  a{
    margin: 0;
    padding: 20px 30px 20px 10px;
    font-size: 25px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    color: #003049;
    text-decoration: none;
  }
}

@media screen and (max-width: 307px) {
  .nav_container{
    justify-content: space-evenly;
    a{
      padding: 20px 0px;
    }
  }
}